<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="iccs-container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static 'js/vue.js' %}"></script>
        <script src="{% static 'js/vuex.js' %}"></script>
        <script src="{% static 'js/scripts/vue-elements.js' %}"></script>
    </body>
</html>