{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user }}!</h1>
<a href="accounts/logout/">Logout</a>
<div class="iccs-projects" id="app-projects">
    <h3>Список проектов</h3>
    <div
        v-if="elements.length"
        class="cont-box bordered"
    >
        <div v-for="element in elements"
            class="container"
        >
            <div class="container-head">
                <span>[[ element.name ]]</span>
                <input 
                    v-bind:value="element.a_uid"
                    v-model="del_elements"
                    class="f-right"
                    type="checkbox"
                >
            </div>
            <div class="container-body">
                <label class="name-wrap">Суммa</label>
                <div class="data-field">
                    [[ element.payment ]]
                </div>
                <label class="name-wrap">Создал</label>
                <div class="data-field">
                    [[ element.created_by ]]
                </div>
                <label class="name-wrap">Дата начала</label>
                <div class="data-field">
                    [[ element.begin_date ]]
                </div>
                <label class="name-wrap">Дата окончания</label>
                <div class="data-field">
                    [[ element.end_date ]]
                </div>
                <label>Описание</label>
                <div>
                    <textarea style="border: none; font-size: 16px;" title="Описание" readonly>[[ element.description ]]</textarea>
                </div>
            </div>
            <div class="container-footer">
                <input type="hidden" class="identificator" :value="[[ element.a_uid ]]">
                <button class="button btn-green">Добавить задачу</button>
                <!-- <button @click=updateElement class="button btn-yellow">Редактировать</button> -->
                <button class="button btn-red" v-on:click="deleteElement">Удалить</button>
            </div>
        </div>
    </div>
    <p v-else><strong>Список проектов пуст...</strong></p>
    <button class="button btn-red w-100" v-if="del_elements.length" @click="deleteMarked">Удаить отмеченные проекты: [[ numMarked ]]</button>
        <!-- 
        <div>
            <project-change-form
                :proj_obj="ch_elem"
                :form_visible="modal_visible"
            >
            </project-change-form>
        </div>
        -->
    <button
        class="button btn-blue"
        v-on:click="modal_visible = !modal_visible"
    >Добавить проект</button>
    <!-- Modal project + task creation form -->
    <div :class="[{'modal-visible': modal_visible}, 'modal']">
        <div class="modal-content">
            <div class="modal-header">
                <span @click="modal_visible = !modal_visible" class="close f-right">&times;</span>
                <h3>Создание проекта</h3>
            </div>
            <div class="modal-body">
                <project-create-form
                    :elements="elements"
                    @closemodal="modal_visible=!modal_visible"
                >
                </project-create-form>
            </div>
            <div class="modal-footer">
                <input class="button btn-green" form="proj-task-form" type="submit" value="Сохранить">
                <button class="button btn-red" @click="modal_visible = !modal_visible">Отмена</button>
            </div>
        </div>
    </div>
    <!-- End of modal -->
</div>
<div id="app-deals">
    <h3>Список сделок</h3>
    <div class="cont-box bordered" v-if="elements.length">
        <div v-for="element in elements"
            class="container"
        >
            <div class="container-head">
                <span>[[ element.name ]]</span>
                <input 
                    v-bind:value="element.a_uid"
                    v-model="del_elements"
                    class="f-right"
                    type="checkbox"
                >
            </div>
            <div class="container-body">
                <label class="name-wrap">Суммa</label>
                <div class="data-field">
                    [[ element.payment ]]
                </div>
                <label class="name-wrap">Клиент</label>
                <div class="data-field">
                    [[ element.client ]]
                </div>
                <label class="name-wrap">Статус</label>
                <div class="data-field">
                    [[ element.status ]]
                </div>
                <label class="name-wrap">Руководитель проекта</label>
                <div class="data-field">
                    [[ element.assigned ]]
                </div>
                <label>Описание</label>
                <div>
                    <textarea title="Описание" readonly>[[ element.description ]]</textarea>
                </div>
            </div>
            <div class="container-footer">
                <input type="hidden" class="identificator" :value="[[ element.a_uid ]]">
                <button class="button btn-green">Добавить задачу</button>
                <!-- <button @click=updateElement class="button btn-yellow">Редактировать</button> -->
                <button class="button btn-red" v-on:click="deleteElement">Удалить</button>
            </div>
        </div>
    </div>
    <p v-else>Список сделок пуст...</p>
    <button 
        class="button btn-blue"
        v-on:click="modal_visible = !modal_visible"
    >Добавить сделку</button>
    <div :class="[{'modal-visible': modal_visible}, 'modal']">
        <div class="modal-content">
            <div class="modal-header">
                <span @click="modal_visible = !modal_visible" class="close f-right">&times;</span>
                <h3>Создание сделки</h3>
            </div>
            <div class="modal-body">
                <deal-create
                    :elements="elements"
                    @closemodal="modal_visible=!modal_visible"
                >
                    <!-- Vue create deal component -->
                </deal-create>
            </div>
            <div class="modal-footer">
                <input class="button btn-green" form="deal-form" type="submit" value="Сохранить">
                <button class="button btn-red" @click="modal_visible = !modal_visible">Отмена</button>
            </div>
        </div>
    </div>
</div>
<div id="app-tasks">
    <h3>Список задач</h3>
    <div class="cont-box bordered" v-if="elements.length">
        <div v-for="element in elements"
            class="container"
        >
            <div class="container-head">
                <span>[[ element.task_name ]]</span>
            </div>
            <div class="container-body">
                <label class="name-wrap">Дата начала</label>
                <div class="data-field">
                    [[ element.begin_date ]]
                </div>
                <label class="name-wrap">Дата окончания</label>
                <div class="data-field">
                    [[ element.end_date ]]
                </div>
                <label class="name-wrap">Статус</label>
                <div class="data-field">
                    [[ getStatus(element.status) ]]
                </div>
                <label class="name-wrap">Приритет</label>
                <div class="data-field">
                    [[ getPrio(element.priority) ]]
                </div>
                <label class="name-wrap">Назначена</label>
                <div class="data-field">
                    <span v-for="id in element.assign">[[ getUsers(id) ]]</span>
                </div>
                <label>Описание</label>
                <textarea readonly>[[ element.description ]]</textarea>
            </div>
            <div class="container-footer">
                <input type="hidden" class="identificator" :value="[[ element.id ]]">
                <button class="button btn-red w-100" @click="deleteElement">Удалить</button>
            </div>
        </div>
    </div>
    <p v-else>Список задач пуст...</p>
    <button 
        class="button btn-blue"
        v-on:click="modal_visible = !modal_visible"
    >Добавить задачу</button>
    <div :class="[{'modal-visible': modal_visible}, 'modal']">
        <div class="modal-content">
            <div class="modal-header">
                <span @click="modal_visible = !modal_visible" class="close f-right">&times;</span>
                <h3>Создание задачи</h3>
            </div>
            <div class="modal-body">
                <task-create
                    :elements="elements"
                    @closemodal="modal_visible=!modal_visible"
                >
                    <!-- Vue create deal component -->
                </task-create>
            </div>
            <div class="modal-footer">
                <input class="button btn-green" form="task-form" type="submit" value="Сохранить">
                <button class="button btn-red" @click="modal_visible = !modal_visible">Отмена</button>
            </div>
        </div>
    </div>
</div>
{# login form #}
{% else %}
<h1>Добро пожаловать!!!</h1>
<h2>Пожалуйста, войдите, чтобы продолжить!</h2>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <table>
        {{ login_form.as_table }}
    </table>
    <input type="submit" value="Send">
</form>
{% endif %}
{% endblock %}